<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="com.megablok10.app.qr.DebugQrReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.megablok10.app.DEBUG_QR" />
                <action android:name="com.megablok10.app.DEBUG_PEER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
